@import url(http://fonts.googleapis.com/css?family=Roboto);

h1 {
	text-align:center;
	font-size:4em;	
}

h2 {
	margin:0px;
	padding:0px;
	font-size:3em;
}

h1, h2 {
	font-family: 'Roboto', sans-serif;
}

.container {
	min-width:480px;
	max-width:60%;
	padding:10px;
	margin:0 auto 0 auto;
}
.post {
	width:100%;
}
.photo {
	width:100%;
	margin-bottom:25px;
}